<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>newslettertabmodule</name>
    <displayName>Newsletter Tab Module</displayName>
    <version>1.0</version>
    <description>Adds newsletter functionality to your PrestaShop system</description>
    <author>www.smaizys.com</author>
    <tab>administration</tab>
    <confirmUninstall>Are you sure you want me to keep away from displaying content?</confirmUninstall>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
</module>